In [1]:
import pandas as pd
df=pd.read_csv("BlackFriday.csv")

In [2]:
del df['Product_Category_2']
del df['Product_Category_3']
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3.0,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1.0,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12.0,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12.0,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8.0,7969.0
...,...,...,...,...,...,...,...,...,...,...
19276,1003032,P00158942,M,26-35,0,A,1,1,1.0,15741.0
19277,1003032,P00187442,M,26-35,0,A,1,1,2.0,12861.0
19278,1003032,P00057542,M,26-35,0,A,1,1,3.0,13565.0
19279,1003032,P00186842,M,26-35,0,A,1,1,3.0,13520.0
19280,1003032,P0094942,M,26-35,0,A,1,1,NaN,NaN

In [3]:
df['User_ID']

0        1000001
1        1000001
2        1000001
3        1000001
4        1000002
          ...
19276    1003032
19277    1003032
19278    1003032
19279    1003032
19280    1003032
Name: User_ID, Length: 19281, dtype: int64

In [4]:
df['User_ID'].nunique()

2664

In [5]:
df['User_ID'].unique()

array([1000001, 1000002, 1000003, ..., 1003030, 1003031, 1003032],
      dtype=int64)

In [6]:
df['Product_ID'].nunique()

2683

In [8]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [9]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [10]:
df['Occupation'].unique()

array([10, 16, 15,  7, 20,  9,  1, 12, 17,  0,  3,  4, 11,  8, 19,  2, 18,
        5, 14, 13,  6], dtype=int64)

In [11]:
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [12]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [13]:
df['Marital_Status'].unique()

array([0, 1], dtype=int64)

In [14]:
df['Product_Category_1'].unique()

array([ 3.,  1., 12.,  8.,  5.,  4.,  2.,  6., 14., 11., 13., 15.,  7.,
       16., 18., 10., 17.,  9., nan])

In [17]:
df['Purchase'].sum()/len(df['Purchase'])

9227.430994243037

In [19]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Purchase'],
      dtype='object')

In [29]:
for i in df.columns:
    print(i," : ",df[i].nunique())

User_ID  :  2664
Product_ID  :  2683
Gender  :  2
Age  :  7
Occupation  :  21
City_Category  :  3
Stay_In_Current_City_Years  :  5
Marital_Status  :  2
Product_Category_1  :  18
Purchase  :  8253